<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marvels Track</title>
    <!--import partial bootstrap-->
    <link rel="stylesheet" href="./css/heroes.css" />
  </head>
  <body>
    <!--import navbar idiot-->
    <main>
      <div class="container">
        <div class="filter-section">
          <select class="sort-dropdown">
            <option value="" hidden selected>Sorteren op</option>
            <option value="hp">HP</option>
            <option value="dps">DPS</option>
            <option value="name">Name</option>
          </select>
        </div>

        <section class="hero-grid"></section>
      </div>
    </main>
    <script src="../js/navbar.js"></script>
    <script src="../js/heroes.js"></script>
  </body>
</html>
