<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marvels Track</title>
   <%- include('partials/bootstrap') %>
    <link rel="stylesheet" href="./css/projects.css" />
  </head>

  <body>
    <section class="project-grid">
      <a href="login">
        <article class="project-card">
          <h3 class="project-name">Rivals Tracker</h3>
        </article>
      </a>
      <article class="project-card">
        <h3 class="project-name">Game Hub</h3>
      </article>

      <article class="project-card">
        <h3 class="project-name">Lego Masters</h3>
      </article>

      <article class="project-card">
        <h3 class="project-name">Music Match</h3>
      </article>
    </section>
  </body>
</html>