<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marvels Track</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap-utilities.css" />
    <link rel="stylesheet" href="../assets/css/master.css" />
    <link rel="stylesheet" href="../assets/css/landing.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="../pages/landing.html" class="nav-logo">Rivals Track</a>
        <div class="nav-links">
          <a href="heroes.html">Helden</a>
          <a href="loginPage.html" class="btn-yellow">Log In</a>
        </div>
      </nav>
    </header>
    <header class="hero">
      <h1>Marvels Track</h1>
      <p class="subtitle">Al de Marvel Rivals statistieken beschikbaar.</p>
      <p class="player-count" id="hero-count"></p>
    </header>

    <main class="container">
      <section class="card-grid">
        <article
          class="card card-grey"
          onclick="location.href = 'statpage.html'"
          style="cursor: pointer"
        >
          <h2>Speler Statistieken</h2>
          <div class="card-overlay">Bekijk de statistieken van je account</div>
          <div class="card-overlay">Wins, losses & rank overzicht</div>
          <div class="card-overlay">Meest gespeelde helden</div>
        </article>

        <article
          class="card card-red-light"
          onclick="location.href = 'heroes.html'"
          style="cursor: pointer"
        >
          <h2>Helden Informatie</h2>
          <div class="card-overlay">Bekijk de details van een held</div>
          <div class="card-overlay">Stats, rollen & vaardigheden</div>
          <div class="card-overlay">Volledig helden overzicht</div>
        </article>

        <article
          class="card card-red-dark"
          onclick="location.href = 'newsPage.html'"
          style="cursor: pointer"
        >
          <h2>Spel Nieuws</h2>
          <div class="card-overlay">Nieuws over marvel rivals</div>
          <div class="card-overlay">Laatste patch notes & updates</div>
          <div class="card-overlay">Blijf op de hoogte van het spel</div>
        </article>
      </section>
    </main>

    <script src="../js/navbar.js"></script>
    <script src="../js/landing.js"></script>
    <footer class="footer">
      <p>Copyright ©<br />2026 Rivals Track. All rights reserved</p>
    </footer>
  </body>
</html>
