<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marvels Track</title>
    <!--import partial bootstrap-->
    <link rel="stylesheet" href="./css/news.css" />
  </head>
  <body>
    <!--import navbar idiot-->

    <main class="container">
      <header class="news-header">
        <h1>Spel Nieuws</h1>
      </header>

      <section class="news-section">
        <h2>Updates</h2>
        <div class="news-grid" id="patches-grid"></div>
      </section>
    </main>
    <script src="../js/navbar.js"></script>
    <script src="../js/news.js"></script>
  </body>
</html>
