<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marvels Track</title>
    <!--import partial bootstrap-->
    <link rel="stylesheet" href="./css/statpage.css" />
  </head>
  <body>
    <!--import navbar idiot-->

    <main class="container stats-page">
      <h1>Live Statistieken</h1>

      <section class="stat-group">
        <h2>Spel statistieken</h2>
        <div class="centered-placeholder" id="hero-count-stat"></div>
      </section>

      <section class="stat-group search-section">
        <h2>Geef je usernaam in</h2>
        <div class="input-row">
          <input
            type="text"
            id="player-search"
            name="player-search"
            placeholder="Search a player..."
            autocomplete="off"
          />
          <button id="search-btn">Search</button>
        </div>
        <div class="centered-placeholder results-area"></div>
      </section>

      <section class="stat-group">
        <h2>Uitgelichte Helden</h2>
        <div class="featured-heroes-row" id="featured-heroes"></div>
      </section>
    </main>
    <script src="../js/navbar.js"></script>
    <script src="../js/stats.js"></script>
  </body>
</html>
